div.container-fluid
	nav(class = "cnavbar navbar-expand-lg navbar-light bg-light")
		div(class="collapse navbar-collapse" id="navbarNav")
			nav(class="navbar-nav") 
				li(class="nav-item active")
					a(class="nav-link" href="/admin") Home
				li(class="nav-item active")
					a(class="nav-link" href="/admin/lesson-form") New Lesson
				li(class="nav-item active")
					a(class="nav-link" href="/admin/add-task-form") New Task
				li(class="nav-item active")
						a(class="nav-link" href="/") Exit