extends layout
block content
	div.container.text-center
		form(class="form-group" id="lesson-form")
				label(for="name" class="lesson-name") Enter lesson name
				input(type="text" class="form-control" id="lesson-enter" name="name" placeholder="Lesson") 
				h3 Description
				textarea.description(name="description") 
				button(type="submit" class="btn btn-primary") Submit new task
	div.container.text-center.d-flex.justify-content-center
				div.response.hidden Lesson added successfully
				div.reject.hidden Reject

block scripts
	script(src="/js/lesson-form.js" type="text/javascript")
	




		