extends layout


block content
    div(style={
        'height':'100%',
        'width': '100%',
        'margin': '0',
        'padding': '0',
        'border': '0',
        'text-align': 'center'
    })
        h1 ME SO SORRY
        img(src=("http://www.abluxurylab.com/wp-content/themes/abluxurylab/assets/img/404.png") style={'margin-top':'30px'})
        p(style={'margin-top':'50px', 'line-height':'1.8'}) Please contact our support: ABDUL Bengali +373 69959709