extends layout

block content
  h1 AllCash
  p.lead Train your js skills
  hr
  .row
    .col-sm-6
      h2 Lessons
      p
        a.btn.btn-default(href='./lessons', role='button') Go to lessons »

  .text-center
      img(src='/200w.gif')
