extends layout

block content
  h1 AllCash
  p.lead Train your js skills
  hr
  .row
    .col-sm-6
      h2 Lessons
      p
        a.btn.btn-default(href='./lessons', role='button') View details »
    .col-sm-6
  div.container
