extends layout
block content
	link(href="/css/lesson.css", rel="stylesheet")
	h1= lesson.name
	p= lesson.description
	h3 Tasks list:
	ul.list-group
			each task in tasks
				a(href='/task/' + task._id)
					li.list-group-item
						p= task.name
