extends layout

block content
	link(href="/css/lessons.css", rel="stylesheet")
	h1.text-center Lessons List
	ul.list-group
			each lesson in lessons 
				a(href="/lesson/" + lesson._id).listing
					li.list-group-item
						p= lesson.name 
						p.description-text= lesson.description
						
