extends layout

block content
	pre= JSON.stringify(task)
	h1= task.name
	p= task.description
	form(id='task-solution')
		textarea.solution(name='solution')
		button(type='submit') Submit solution
		input(type='hidden' name='task' value=task._id)
block scripts
	script(src="/js/taskSubmit.js" type="text/javascript")
