extends layout

block content
	h1= task.name
	p= task.description
	form(id='task-solution')
		textarea.solution(name='solution')
		button(type='submit') Submit solution
		input(type='hidden' name='task' value=task._id)
	p.errors#error
block scripts
	script(src="/js/taskSubmit.js" type="text/javascript")
