html,
body {
  height: 100%;
}

.form-group {
  display: block;
  height: 100%;
}

.form-control {
	margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 150px;
}

button {
	width: 150px;
	height: 40px;
}

.response, .reject {
	padding: auto;
	width: 150px;
	height: 50px;
	border-radius: 5px;
}

.response {
	background-color: green;
	color: white;
}

.reject {
	background-color: red;
	color: white;
	padding-top: 10px;
}

.hidden {
	display: none;
}


