.form-group {
	margin-top: 30px;
	display: grid;
	height: 500px;
	grid-template-areas: "name name" "task-description task-description" "test test";
	grid-template-rows: 1fr 2fr 4fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	align-items: center;
}

.name {
	grid-area: name;
	border-radius: 5px;
}

.lesson {
	grid-area: lesson;
	border-radius: 5px;
}

.task-description {
	grid-area: task-description;
	border-radius: 5px;
}

.submit-button {
	margin-right: 50px;
}

.test {
	grid-area: test;
	border-radius: 5px;
}

.response {
	text-align: center;
}

.select-name {
	height: 45px;
	border-radius: 5px;
}

.reject {
	position: relative;
	left: 9.7%;
	text-align: center;
}

.response {
	position: relative;
	left: 9.7%;
	text-align: center;
}






